
<html> 
    <body>
   
       	<form action="result.html" method="POST" >
       	 <p>
       	<label for="strategy">Choose a strategy</label>
       	
   
    <select name="strategy" id="strategy">
      <option value="0">--None--</option>
      <option value="1">Iron Condor</option>
      <option value="2">Straddle</option>
      <option value="3">Strangle</option>
      <option value="4">Bull Call Spread</option>
      <option value="5">Bear Call Spread</option>
      <option value="6">Bull Put Spread</option>
      <option value="7">Bear Put Spread</option>
      <option value="8">Gut</option>
      <option value="9">Iron Butterfly</option>
      <option value="10">Covered Call</option>
      <option value="11">Protective Call</option>
      <option value="12">Covered Put</option>
      <option value="13">Protective Put</option>
      
    </select>
   
	<button type="submit" value="submit" >Result</button> 
	</form>
	
	

	
    
    
    </body>
</html>